.aboutme {
    height: 100vh;
    background-color: var(--background-color); 
}
  
.profile-image img {
width: 100%;
max-width: 200px;
border-radius: 50%;
padding: auto;
}



.aboutme-title {
font-size: 1.5rem;
font-weight: 600;
color: var(--secondary-text-color); 
}

.description {
font-size: 1.2rem;
line-height: 1.6;
margin-top: 20px;
color: var(--text-color);
}
