:root {
    --primary-color: #A239CA;
    --secondary-color: #5c376b;
    --background-color: #0E0B16;
    --background-card-color: #FAF3DD;
    --text-color: #E7DFDD;
    --secondary-text-color: #6c757d;
  }
