.home-page {
    height: 70vh;
}
  
.profile-image {
    width: 100%;
}
.profile-image img {
width: 100%;
max-width: 500px;
height: auto;
border-radius: 50%;
padding: auto;
}


.info-wrapper {
padding-left: 5%;
text-align: center;
}

.name {
font-size: 2.5rem;
font-weight: bold;
margin-top: 20px;
color: var(--text-color);
}

.position {
font-size: 1.5rem;
font-weight: 600;
color: var(--secondary-text-color); 
}

.description {
font-size: 1.2rem;
line-height: 1.6;
margin-top: 20px;
color: var(--text-color);
}


.download-resume {
    margin-top: 20px; 
    color: #0000; 
}